#container{
position:absolute;
left:30%;
}

#info_left_left
{
float:left;
}

#info_bg
{
background-color:black;
}

#info_bottom_bg
{
background-color:darkgrey;
}

#info_bottom{
font-weight:bold;
font-size:22;
float:left;
}

#info_left{
float:left;
}

#info_middle{
float:right;
}

#info_right{
float:right;}

#tt1
{
text-align:justify;
font-weight:bold;
}

#round_border{
height:400px;
width:500px;
border:2px solid black;
border-radius: 20px;
}

