#text
{
	text-align:center;
	font-weight:bold;	
	font-size:35;
	left:40%;
}
#t2
{
	font-weight:bold;
	text-align:center;
	font-size:20;
	text-decoration:underline;	
}
#t3
{
	font-size:15;
	text-align:center;
}	